<html>
<head>
    <meta charset="UTF-8">
    <title>About us page</title>
</head>
<body>
 <%= link_to image_tag('logo-kercode.png'), 'www.msn.fr' %>

 <h1> Welcome to About page</h1>
 <%= link_to 'Alpha Blog',articles_path %> |
 <%= link_to 'Home', root_path  %>
    
</body>
</html>