
 

<div class=" center jumbotron img-responsive">
 <!--<%= link_to image_tag('abdou.jpg'), 'www.google.com' %>-->
    <h1>Welcome to my Blog</h1>
    <%= link_to 'Sign up now', login_path, class:" btn btn-info btn-xlarge" %>
</div>