<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
 <header>This my homepage</header>
 <%= link_to image_tag('abdou.jpg'), 'www.google.com' %>
 <h1> Welcome to Homepage</h1>
 <%= link_to 'About us', about_path  %>
    
</body>
</html>