$navbar-default-bg:black;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Tangerine');
@import url('//fonts.googleapis.com/css?family=Lato|Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
}
#logo {
    float: left;
    font-size: 1.7em;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    word-spacing: 5px;
    font-family: 'Tangerine', serif;
}

#logo:hover {
    color: #fff;
    text-decoration: none;

}

.center  {
    text-align: center
}

.jumbotron {
    background-image: asset-url('office.jpg');
    background-size: cover;
    height: 580px;
   
}
.jumbotron h1 {
    color: #fff;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'Tangerine', serif;

}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;

}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}



footer {
    margin-top: 15px; //instead of 45
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    font-weight: bolder;
    color:#777;
    display: flex;
    justify-content: space-between;
  

}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.description {
    margin-top: 0;
}
footer a:hover{
    color: #222;
}

footer small {
    float:left;
}


footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
a#pimp {
    padding-top: 0;
}
img {
    width:100px;
}
