<div class="container">
    <footer>
    <small>
    copyright &copy;  <a href="">rails blog camp</a>
    by <a href="">@bdou</a>
     </small>
     <nav>
     <ul>
       <li><%= link_to 'About', about_path %></li>
     </ul>   
     </nav>
    </footer>

</div>